<div class="mt-4">
    <h3>Thêm học sinh</h3>

    <form method="POST" action="/student/store">
        <div class="form-group">
            <label for="name">Tên học sinh</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="age">Tuổi</label>
            <input type="text" class="form-control" id="age" name="age">
        </div>
        <div class="form-group">
            <label for="sex">Giới tính</label>
            <input type="text" class="form-control" id="sex" name="sex">
        </div>
        <div class="form-group">
            <label for="avatar">Avatar</label>
            <input type="text" class="form-control" id="avatar" name="avatar">
        </div>
        <div class="form-group">
            <label for="info">Thông tin</label>
            <input type="text" class="form-control" id="info" name="info">
        </div>
        <div class="form-group">
            <label for="level">Học vấn</label>
            <input type="text" class="form-control" id="level" name="level">
        </div>
        
        <button type="submit" class="btn btn-primary">Thêm học sinh</button>
    </form>
</div>