<div class="card" style="width: 18rem; margin-top:10px">
  <img src="{{student.avatar}}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">{{student.info}}</p>
    <p class="card-text">Trình độ học vấn: {{student.level}}</p>
  </div>
</div>